<form action="https://www.bcash.com.br/checkout/pay/" method="post" name="bcash">
  <% options.each do |key, value| %>
    <input name="<%= key.to_s %>" type="hidden" value="<%= value.to_s %>"></input>
  <% end %>
  <% package.items.each do |key, value| %>
    <input name="<%= key.to_s %>" type="hidden" value="<%= value.to_s %>"></input>
  <% end %>
  <%= button_html %>
</form>
